In [54]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor

In [56]:
import pandas as pd
from sqlalchemy import create_engine
# MySQL configuration
mysql_config = {
    "host": "localhost",
    "user": "root",
    "password": "pass",
    "database": "db",
}

In [57]:
import urllib.parse
# URL-encode the password
encoded_password = urllib.parse.quote_plus(mysql_config['password'])

In [58]:
# Create a database connection using SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{encoded_password}@{mysql_config['host']}/{mysql_config['database']}")

In [110]:
file = pd.read_excel("SERIES 40_41_48.xlsx")

In [111]:
file.columns = [col.strip() for col in file.columns]

In [112]:
file.columns

Index(['NPS', 'TORQUE VALUES (IM-in) Seat Retainer Upstream',
       'TORQUE VALUES (IM-in) Seat Retainer Downstream',
       'Valve Differential Pressure (psi)'],
      dtype='object')

In [99]:
# Create the SQL table from the Pandas DataFrame
file.to_sql(name='series_40_41_48', con=engine, if_exists="replace", index=False)

92

In [43]:
cols = ['NPS', 'TORQUE VALUES (IM-in) Seat Retainer Upstream',
       'TORQUE VALUES (IM-in) Seat Retainer Downstream',
       'Valve Differential Pressure (psi)']

In [125]:
prompt2 = """Give Natural Language query and  required column names with table name generate Mysql query.\n


            Query: {query}\n
            columns: {columns}\n
            table name: {table_name}"""

In [126]:
prompt3 = """Given Natural language query, MySql query and result of mysql query in dataframe give the result in Natural Language.\n
            Natural language query: {query}\n
            sql query: {sql}\n
            result: {result}\n
           Beautify the result properly and present in Nice way and don't give psi value. torque value unit it "N M"
            """

In [46]:
import openai
openai.api_key = "Your OpenAI Key"

In [48]:
def generate_completion(prompt, model="gpt-3.5-turbo", max_tokens=1000, temperature=0.):

    # Create a list of message objects with the user's prompt
    messages = [
        {"role": "system", "content": "You are a MySql query generating bot."},
        {"role": "user", "content": prompt},
    ]

    # Call the OpenAI API to generate a completion
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        max_tokens=max_tokens,
        temperature=temperature,
    )

    # Extract and return the generated text from the API response
    return response['choices'][0]['message']['content']

In [149]:
def get_user_input():
    print("type 'Stop' to stop the function\n\n")
    text = "start"
    while text.lower()!="stop":
        text = input("Please enter you Natural language query:\t")
        sql = generate_completion(prompt = prompt2.format(query=text,columns = cols,table_name =  'series_40_41_48'))
        df = pd.read_sql(sql, con=engine)
        final_result = generate_completion(prompt3.format(query= text, sql=sql, result=df))
        print(final_result)
        print()

In [150]:
get_user_input()

type 'Stop' to stop the function

Please enter you Natural language query:	 What is the torque value of NPS 4 in SERIES 40/41/48 with less than 150 psi?

The torque value of NPS 4 in SERIES 40/41/48 with less than 150 psi is as follows:
- Torque value (Seat Retainer Upstream): 275 N M
- Torque value (Seat Retainer Downstream): 320 N M

Please enter you Natural language query:	 Give me the list of torque values of nps in SERIES 40/41/48 with less than 150 to 200 psi?

The list of torque values for NPS in SERIES 40/41/48 with a valve differential pressure between 150 and 200 psi are as follows:

- NPS 2.0: Torque Value (Seat Retainer Upstream) - 70.00 N M, Torque Value (Seat Retainer Downstream) - 220 N M
- NPS 2.5: Torque Value (Seat Retainer Upstream) - 190.00 N M, Torque Value (Seat Retainer Downstream) - 240 N M
- NPS 3.0: Torque Value (Seat Retainer Upstream) - 210.00 N M, Torque Value (Seat Retainer Downstream) - 260 N M
- NPS 5.0: Torque Value (Seat Retainer Upstream) - 640.00 N M, Torque Value (Seat Retainer Downstream) - 800 N M
- NPS 6.0: Torque Value (Seat Retainer Upstream) - 770.00 N M, Torque Value (Seat Retainer Downstream) - 960 N M
- NPS 8.0: Torque Value (Seat Retainer Upstream) - 1400.00 N M, Torque Value (Seat Retainer Downstream) - 1700 N M
- NPS 10.0: Torque Value (Seat Retainer Upstream) - 2640.00 N M, Torque Value (Seat Retainer Downstream) - 3300 N M
- NPS 12.0: Torque Value (Seat Retainer Upstream) - 4000.00 N M, Torque Value (Seat Retainer Downstream) - 5000 N M
- NPS 14.0: Torque Value (Seat Retainer Upstream) - 520.00 N M, Torque Value (Seat Retainer Downstream) - 740 N M
- NPS 16.0: Torque Value (Seat Retainer Upstream) - 9040.00 N M, Torque Value (Seat Retainer Downstream) - 11300 N M
- NPS 18.0: Torque Value (Seat Retainer Upstream) - 13.60 N M, Torque Value (Seat Retainer Downstream) - 17000 N M
- NPS 20.0: Torque Value (Seat Retainer Upstream) - 17300.00 N M, Torque Value (Seat Retainer Downstream) - 21300 N M
- NPS 24.0: Torque Value (Seat Retainer Upstream) - 27680.00 N M, Torque Value (Seat Retainer Downstream) - 27680 N M
- NPS 28.0: Torque Value (Seat Retainer Upstream) - 37600.00 N M, Torque Value (Seat Retainer Downstream) - 47000 N M
- NPS 30.0: Torque Value (Seat Retainer Upstream) - 42.96 N M, Torque Value (Seat Retainer Downstream) - 53700 N M
- NPS 32.0: Torque Value (Seat Retainer Upstream) - 53000.00 N M, Torque Value (Seat Retainer Downstream) - 48500 N M
- NPS 36.0: Torque Value (Seat Retainer Upstream) - 64000.00 N M, Torque Value (Seat Retainer Downstream) - 64300 N M
- NPS 40.0: Torque Value (Seat Retainer Upstream) - 73000.00 N M, Torque Value (Seat Retainer Downstream) - 73600 N M
- NPS 42.0: Torque Value (Seat Retainer Upstream) - 34000.00 N M, Torque Value (Seat Retainer Downstream) - 105000 N M
- NPS 48.0: Torque Value (Seat Retainer Upstream) - 115000.00 N M, Torque Value (Seat Retainer Downstream) - 121600 N M
- NPS 54.0: Torque Value (Seat Retainer Upstream) - 160000.00 N M, Torque Value (Seat Retainer Downstream) - 169600 N M
- NPS 60.0: Torque Value (Seat Retainer Upstream) - 175000.00 N M, Torque Value (Seat Retainer Downstream) - 175000 N M

Please enter you Natural language query:	 Give me the list of torque values of nps 4 in SERIES 40/41/48 with less than 150 to 200 psi?

The torque values for NPS 4 in SERIES 40/41/48 with a valve differential pressure between 150 and 200 are as follows:

- Torque value (Seat Retainer Upstream): 300 N M
- Torque value (Seat Retainer Downstream): 370 N M

Please enter you Natural language query:	 stop

The query "stop" was executed successfully. However, the result is an empty dataframe with the following columns: NPS, TORQUE VALUES (IM-in) Seat Retainer Upstream, TORQUE VALUES (IM-in) Seat Retainer Downstream, and Valve Differential Pressure.

In [25]:
required_columns

'CustomerNo, CustomerName, TransactionCurrencyAmount, TransDate'

In [25]:
# prompt2 = prompt1.format(query="what are top 5 customers with highest revenue in 2022?",columns=column_names, table_name='service_revenue')
# print(prompt2)

In [35]:
sql = generate_completion(prompt2).replace("\n", " ")

In [36]:
sql

'CustomerNo, CustomerName, TransactionCurrencyAmount, TransDate'

In [32]:
import pandas as pd

In [6]:
# df = pd.read_sql(sql, con=engine)

In [227]:
df

   CustomerNo                   CustomerName   Revenue
0    103716.0      KEMPER REFRIGERATION - CA  43014.33
1    125619.0    COLD SPRING BREWING COMPANY  12714.04
2    120070.0  Huber Specialty Hydrates, LLC   6613.57
3    131275.0       Montauk Renewables, Inc.   6101.91
4    107599.0          ON CALL REFRIGERATION   5898.00

In [83]:
column_names = ['LedgerDimension', 'PostingType', 'TransactionType', 'DocumentDate',
       'AccountingDate', 'Year', 'Month', 'Year-Month', 'AcknowledgementDate',
       'DisplayValue', 'MainAccountID', 'AccountName', 'Account Description',
       'Account Type', 'PeriodCode', 'PostingLayer', 'Sub APC', 'Sub APC Desc',
       'APC', 'APC Desc', 'Cost Center', 'Cost Center Desc', 'Partner No',
       'Partner Name', 'Transaction Type', 'Transaction Type Desc',
       'Breakdown', 'Breakdown Desc', 'ItemProductgroup',
       'Project Productgroup', 'Sales Activity', 'Service Category',
       'Service Category Desc', 'JournalNumber', 'SubLedgerVoucher', 'RecID',
       'DataArea', 'Is_PTP_Voucher', 'CustomerNo', 'CustomerName', 'Txt',
       'Project', 'OrderAccount', 'TransDate', 'TransType', 'Invoice',
       'TransactionCurrencyAmount', 'TransactionCurrencyCode',
       'AccountingCurrencyAmount', 'AccountingCurrencyCode',
       'ReportingCurrencyAmount', 'ReportingCurrencyCode', 'ModifiedBy',
       'GEARegionCode', 'RegionDescription', 'Country of Destination',
       'Country of Destination_2', 'Sub APC (Sort Field)',
       'Country of Efforts', 'Country of Efforts_2', 'Call Type',
       'Sorting Based On', 'SalesID', 'ProjID', 'RefNo', 'RefLotID', 'Source',
       'ProjectID_SalesID', 'SalesTaker', 'Reporting Sub APC',
       'CORE COS Account', 'CORE TCR Account', 'POC Tool Account Number',
       'POC Tool Source', 'Division', 'SBU', 'SvcCallID',
       'Service Coordinator', 'ReportDate']

In [90]:
prompt1 = """Given a natural language query predict the required list of coulmns from all the list columns:\n
            Query: {query}\n
            columns: {columns}\n
            Provide only column names saparated with comma"""


prompt3 = """Given Natural language query, MySql query and result of mysql query in dataframe give the result in Natural Language.\n
            Natural language query: {query}\n
            sql query: {sql}\n
            result: {result}\n
            Use proper symbol to represent dollor\n
            Give response in html content, use Bootstrap tables, list and all other tags properly.
            If there is a Html table the add the copy button so that user can copy the data directly.
            """

In [11]:
# query = "what are top 5 customers having highest revenue in year 2022?"

In [12]:
# final_result = generate_completion(prompt3.format(query= query, sql=sql, result=df))

In [13]:
# print(final_result)

In [91]:
def get_user_input():
    print("type 'Stop' to stop the function\n\n")
    text = "start"
    while text.lower()!="stop":
        text = input("Please enter you Natural language query:\t")
        required_columns = generate_completion(prompt1.format(query =text, columns=column_names))
        print(required_columns)
        sql = generate_completion(prompt2.format(query=text,columns=column_names, table_name='service_revenue')).replace("\n", " ")
        df = pd.read_sql(sql, con=engine)
        final_result = generate_completion(prompt3.format(query= text, sql=sql, result=df))
        print(final_result)
        print()

In [92]:
get_user_input()

type 'Stop' to stop the function

Please enter you Natural language query:	 what are top 5 customers with highest revenue in 2022?

CustomerNo, CustomerName, TransactionCurrencyAmount, TransDate
<h3>Top 5 customers with highest revenue in 2022:</h3>

<table>
  <tr>
    <th>Customer Name</th>
    <th>Revenue</th>
  </tr>
  <tr>
    <td>KEMPER REFRIGERATION - CA</td>
    <td>$99,967.14</td>
  </tr>
  <tr>
    <td>COLD SPRING BREWING COMPANY</td>
    <td>$38,969.04</td>
  </tr>
  <tr>
    <td>R C & S</td>
    <td>$12,976.51</td>
  </tr>
  <tr>
    <td>Huber Specialty Hydrates, LLC</td>
    <td>$6,613.57</td>
  </tr>
  <tr>
    <td>Montauk Renewables, Inc.</td>
    <td>$6,101.91</td>
  </tr>
</table>

Please enter you Natural language query:	 stop

LedgerDimension, PostingType, TransactionType, DocumentDate, AccountingDate, Year, Month, Year-Month, AcknowledgementDate, DisplayValue, MainAccountID, AccountName, Account Description, Account Type, PeriodCode, PostingLayer, Sub APC, Sub APC Desc, APC, APC Desc, Cost Center, Cost Center Desc, Partner No, Partner Name, Transaction Type, Transaction Type Desc, Breakdown, Breakdown Desc, ItemProductgroup, Project Productgroup, Sales Activity, Service Category, Service Category Desc, JournalNumber, SubLedgerVoucher, RecID, DataArea, Is_PTP_Voucher, CustomerNo, CustomerName, Txt, Project, OrderAccount, TransDate, TransType, Invoice, TransactionCurrencyAmount, TransactionCurrencyCode, AccountingCurrencyAmount, AccountingCurrencyCode, ReportingCurrencyAmount, ReportingCurrencyCode, ModifiedBy, GEARegionCode, RegionDescription, Country of Destination, Country of Destination_2, Sub APC (Sort Field), Country of Efforts, Country of Efforts_2, Call Type, Sorting Based On, SalesID, ProjID, RefNo, RefLotID, Source, ProjectID_SalesID, SalesTaker, Reporting Sub APC, CORE COS Account, CORE TCR Account, POC Tool Account Number, POC Tool Source, Division, SBU, SvcCallID, Service Coordinator, ReportDate
<table>
  <tr>
    <th>LedgerDimension</th>
    <th>PostingType</th>
    <th>TransactionType</th>
    <th>DocumentDate</th>
    <th>AccountingDate</th>
    <th>Year</th>
    <th>Month</th>
    <th>Year-Month</th>
    <th>AcknowledgementDate</th>
    <th>DisplayValue</th>
    <th>MainAccountID</th>
    <th>AccountName</th>
    <th>Account Description</th>
    <th>Account Type</th>
    <th>PeriodCode</th>
    <th>PostingLayer</th>
    <th>Sub APC</th>
    <th>Sub APC Desc</th>
    <th>APC</th>
    <th>APC Desc</th>
    <th>Cost Center</th>
    <th>Cost Center Desc</th>
    <th>Partner No</th>
    <th>Partner Name</th>
    <th>Transaction Type</th>
    <th>Transaction Type Desc</th>
    <th>Breakdown</th>
    <th>Breakdown Desc</th>
    <th>ItemProductgroup</th>
    <th>Project Productgroup</th>
    <th>Sales Activity</th>
    <th>Service Category</th>
    <th>Service Category Desc</th>
    <th>JournalNumber</th>
    <th>SubLedgerVoucher</th>
    <th>RecID</th>
    <th>DataArea</th>
    <th>Is_PTP_Voucher</th>
    <th>CustomerNo</th>
    <th>CustomerName</th>
    <th>Txt</th>
    <th>Project</th>
    <th>OrderAccount</th>
    <th>TransDate</th>
    <th>TransType</th>
    <th>Invoice</th>
    <th>TransactionCurrencyAmount</th>
    <th>TransactionCurrencyCode</th>
    <th>AccountingCurrencyAmount</th>
    <th>AccountingCurrencyCode</th>
    <th>ReportingCurrencyAmount</th>
    <th>ReportingCurrencyCode</th>
    <th>ModifiedBy</th>
    <th>GEARegionCode</th>
    <th>RegionDescription</th>
    <th>Country of Destination</th>
    <th>Country of Destination_2</th>
    <th>Sub APC (Sort Field)</th>
    <th>Country of Efforts</th>
    <th>Country of Efforts_2</th>
    <th>Call Type</th>
    <th>Sorting Based On</th>
    <th>SalesID</th>
    <th>ProjID</th>
    <th>RefNo</th>
    <th>RefLotID</th>
    <th>Source</th>
    <th>ProjectID_SalesID</th>
    <th>SalesTaker</th>
    <th>Reporting Sub APC</th>
    <th>CORE COS Account</th>
    <th>CORE TCR Account</th>
    <th>POC Tool Account Number</th>
    <th>POC Tool Source</th>
    <th>Division</th>
    <th>SBU</th>
    <th>SvcCallID</th>
    <th>Service Coordinator</th>
    <th>ReportDate</th>
  </tr>
  <tr>
    <td>5640264775</td>
    <td>51</td>
    <td>2</td>
    <td>2022-02-10</td>
    <td>2022-02-10</td>
    <td>2022</td>
    <td>2</td>
    <td>2022-02</td>
    <td>2022-02-10</td>
    <td>713500-A6820-130998-999999-ZZZ-S8000</td>
    <td>5640264775</td>
    <td>AccountName</td>
    <td>Account Description</td>
    <td>Account Type</td>
    <td>PeriodCode</td>
    <td>PostingLayer</td>
    <td>Sub APC</td>
    <td>Sub APC Desc</td>
    <td>APC</td>
    <td>APC Desc</td>
    <td>Cost Center</td>
    <td>Cost Center

In [17]:
from flask import Flask, render_template, request, jsonify
import openai
import pandas as pd

import pandas as pd
from sqlalchemy import create_engine

# app = Flask(__name__)

# MySQL configuration
mysql_config = {
    "host": "localhost",
    "user": "root",
    "password": "Akansh@123",
    "database": "gea",
}


import urllib.parse
# URL-encode the password
encoded_password = urllib.parse.quote_plus(mysql_config['password'])

# Create a database connection using SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{mysql_config['user']}:{encoded_password}@{mysql_config['host']}/{mysql_config['database']}")

# Configure OpenAI API key
openai.api_key = "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"

column_names = ['LedgerDimension', 'PostingType', 'TransactionType', 'DocumentDate',
       'AccountingDate', 'Year', 'Month', 'Year-Month', 'AcknowledgementDate',
       'DisplayValue', 'MainAccountID', 'AccountName', 'Account Description',
       'Account Type', 'PeriodCode', 'PostingLayer', 'Sub APC', 'Sub APC Desc',
       'APC', 'APC Desc', 'Cost Center', 'Cost Center Desc', 'Partner No',
       'Partner Name', 'Transaction Type', 'Transaction Type Desc',
       'Breakdown', 'Breakdown Desc', 'ItemProductgroup',
       'Project Productgroup', 'Sales Activity', 'Service Category',
       'Service Category Desc', 'JournalNumber', 'SubLedgerVoucher', 'RecID',
       'DataArea', 'Is_PTP_Voucher', 'CustomerNo', 'CustomerName', 'Txt',
       'Project', 'OrderAccount', 'TransDate', 'TransType', 'Invoice',
       'TransactionCurrencyAmount', 'TransactionCurrencyCode',
       'AccountingCurrencyAmount', 'AccountingCurrencyCode',
       'ReportingCurrencyAmount', 'ReportingCurrencyCode', 'ModifiedBy',
       'GEARegionCode', 'RegionDescription', 'Country of Destination',
       'Country of Destination_2', 'Sub APC (Sort Field)',
       'Country of Efforts', 'Country of Efforts_2', 'Call Type',
       'Sorting Based On', 'SalesID', 'ProjID', 'RefNo', 'RefLotID', 'Source',
       'ProjectID_SalesID', 'SalesTaker', 'Reporting Sub APC',
       'CORE COS Account', 'CORE TCR Account', 'POC Tool Account Number',
       'POC Tool Source', 'Division', 'SBU', 'SvcCallID',
       'Service Coordinator', 'ReportDate']

prompt1 = """Given a natural language query predict the required list of coulmns from all the list columns:\n
            Query: {query}\n
            columns: {columns}\n
            Provide only column names saparated with comma"""

prompt2 = """Give Natural Language query and  required column names with table name generate Mysql query.\n


            Query: {query}\n
            columns: {columns}\n
            table name: {table_name}
            
            use proper operation like groupby, having, etc"""

prompt3 = """Given Natural language query, MySql query and result of mysql query in dataframe give the result in Natural Language.\n
            Natural language query: {query}
            sql query: {sql}
            result: {result}
            
            User proper symbol to represent dollor. You output should be as HTML content.
            """


prompt4 = """Given the response below  give the chart data in json format\n
            Natural language response: {response}
            The keys should be as kabels, data, label,
            for example-- 
            "labels": ["Category A", "Category B", "Category C"],\n
            "data": [12, 19, 3],\n
            "label": "Chart Data"            """

In [21]:
def generate_completion(prompt, model="gpt-3.5-turbo", max_tokens=1000, temperature=0.):

    # Create a list of message objects with the user's prompt
    messages = [
        {"role": "system", "content": "You are a MySql query generating bot."},
        {"role": "user", "content": prompt},
    ]

    # Call the OpenAI API to generate a completion
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        max_tokens=max_tokens,
        temperature=temperature,
    )

    # Extract and return the generated text from the API response
    return response['choices'][0]['message']['content']

# @app.route("/")
# def index():
#     return render_template("index.html")

# @app.route("/chat", methods=["POST"])
def ask(user_input):
    # user_input = request.json.get("user_input")
    required_columns = generate_completion(prompt1.format(query =user_input, columns=column_names))
    print(required_columns)
    sql = generate_completion(prompt2.format(query=user_input,columns=column_names, table_name='service_revenue')).replace("\n", " ")
    df = pd.read_sql(sql, con=engine)
    final_result = generate_completion(prompt3.format(query= user_input, sql=sql, result=df))
    data = eval(generate_completion(prompt4.format(response =final_result)))
    print(data)
    return {"message": final_result, "chartData":data}

def chat_with_gpt(user_input):
    # Call OpenAI GPT-3 API for generating a response
    response = openai.Completion.create(
        engine="text-davinci-002",
        prompt=f"You: {user_input}\nAI:",
        max_tokens=50,
        stop=None,
        temperature=0.7,
    )
    return response.choices[0].text.strip()

In [22]:
ask("what are top 5 customers with highest revenue in 2022?")

CustomerNo, CustomerName, TransactionCurrencyAmount, TransDate
{'labels': ['KEMPER REFRIGERATION - CA', 'COLD SPRING BREWING COMPANY', 'Huber Specialty Hydrates, LLC', 'Montauk Renewables, Inc.', 'ON CALL REFRIGERATION'], 'data': [43014.33, 12714.04, 6613.57, 6101.91, 5898.0], 'label': 'Revenue in 2022'}

{'message': 'The top 5 customers with the highest revenue in 2022 are:\n\n1. KEMPER REFRIGERATION - CA - $43,014.33\n2. COLD SPRING BREWING COMPANY - $12,714.04\n3. Huber Specialty Hydrates, LLC - $6,613.57\n4. Montauk Renewables, Inc. - $6,101.91\n5. ON CALL REFRIGERATION - $5,898.00',
 'chartData': {'labels': ['KEMPER REFRIGERATION - CA',
   'COLD SPRING BREWING COMPANY',
   'Huber Specialty Hydrates, LLC',
   'Montauk Renewables, Inc.',
   'ON CALL REFRIGERATION'],
  'data': [43014.33, 12714.04, 6613.57, 6101.91, 5898.0],
  'label': 'Revenue in 2022'}}

In [23]:
from transformers import AutoModelForCausalLM, AutoTokenizer

# Load the ChatGPT model and tokenizer
model_name = "gpt2"  # Replace with your selected model
model = AutoModelForCausalLM.from_pretrained(model_name)
tokenizer = AutoTokenizer.from_pretrained(model_name)

In [25]:
import torch
import onnx

# Load the ChatGPT model and tokenizer
model_name = "gpt2"  # Replace with your selected model
model = AutoModelForCausalLM.from_pretrained(model_name)
tokenizer = AutoTokenizer.from_pretrained(model_name)

# Define a sample input
input_text = "Hello, how are you?"  # Replace with your input text
input_ids = tokenizer.encode(input_text, return_tensors="pt")  # Convert text to token IDs

# Ensure that input_ids is of type torch.LongTensor
input_ids = input_ids.to(torch.int64)

# Output ONNX file path
onnx_path = "chatgpt.onnx"

# Export the model to ONNX format
torch.onnx.export(model, (input_ids,), onnx_path, verbose=True)

============== Diagnostic Run torch.onnx.export version 2.0.1+cpu ==============
verbose: False, log level: Level.ERROR
======================= 0 NONE 0 NOTE 0 WARNING 0 ERROR ========================

In [31]:
import onnx

# Load the ONNX model
onnx_path = "chatgpt.onnx"

# Load the ONNX model using ONNX library
onnx_model = onnx.load(onnx_path)

# Get the names of input and output nodes
input_names = [input.name for input in onnx_model.graph.input]
output_names = [output.name for output in onnx_model.graph.output]

print("Input Names:", input_names)
print("Output Names:", output_names)

Input Names: ['onnx::Reshape_0']
Output Names: ['2330', 'key.3', 'value.3', 'key.11', 'value.11', 'key.19', 'value.19', 'key.27', 'value.27', 'key.35', 'value.35', 'key.43', 'value.43', 'key.51', 'value.51', 'key.59', 'value.59', 'key.67', 'value.67', 'key.75', 'value.75', 'key.83', 'value.83', 'key.91', 'value.91']

In [32]:
def chatbot(user_input):
    # Tokenize the user input
    inputs = {
        'input_ids': tokenizer(user_input, return_tensors='pt')['input_ids'],
        'attention_mask': tokenizer(user_input, return_tensors='pt')['attention_mask'],
    }

    # Run the model with the correct input and output names
    response = session.run(['output_node_name'], inputs)  # Replace 'output_node_name' with the correct output name

    return {'response': response[0][0].tolist()}

In [33]:
chatbot("Hello, how are you doing?")

ValueError: Required inputs (['onnx::Reshape_0']) are missing from input feed (['input_ids', 'attention_mask']).

In [98]:
import pandas as pd

In [99]:
df = pd.read_sql("Select * from service_revenue", con=engine)

In [100]:
df.shape

(20638, 79)

In [101]:
df.to_csv("revenue.csv")